.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}   

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: small;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.artTitles {
    font-style: italic;
}